/* start global rules  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222;
    color: #fff;
    font-family: system-ui;
}

.crud {
    width: 80%;
    margin: auto;
}

.head {
    text-align: center;
    margin: 10px 0;
}

.crud input {
    width: 100%;
    height: 30px;
    border: none;
    background-color: #111;
    margin: 4px 0;
    outline: none;
    border-radius: 4px;
    padding: 4px;
    color: #fff;
    transition: 0.3s;
}

input:focus {
    background-color: #000;
    transform: scale(1.1);
}

.price input {
    width: 20%;
}

#total {
    background-color: #a00d02;
    padding: 5px 2px;
    border-radius: 4px;
}

#total::before {
    content: "Total: ";
}

button {
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: #470053;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.3s;
}

button:hover {
    background-color: #51045f;
    letter-spacing: 2px;
}

.btn-search {
    display: flex;
    justify-content: space-between;
}

.btn-search button {
    width: 45%;
}

table {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

table tr th {
    text-transform: uppercase;
}

table th,
td {
    padding: 5px;
}
